# Large files
data/*

# python env
bin/
lib/
include/
lib64
pyvenv.cfg
share/
summative/
# IDE files
.idea/
*.swp
*.swo
*.vscode

# Python files
venv/
my_env
__pycache__/
*.pyc
*.cfg
# Server IP address
*.svip

# Environment variables
*.env

# OS files
.DS_Store
Thumbs.db

# OTHERS
test_queries/*